@font-face {
  font-family: 'NanumABbaEuiYeonAePyeonJi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumABbaEuiYeonAePyeonJi/NanumABbaEuiYeonAePyeonJi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumABbaEuiYeonAePyeonJi/NanumABbaEuiYeonAePyeonJi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumABbaEuiYeonAePyeonJi/NanumABbaEuiYeonAePyeonJi.ttf') format('truetype');
}